[Unit]
Description=Drowsiness Detection Service
After=network.target

[Service]
User=ragpi
Group=audio
WorkingDirectory=/home/ragpi/drowsy
ExecStart=/home/ragpi/drowsy/.venv/bin/python3 /home/ragpi/drowsy/start_drowsiness.py
Restart=always
RestartSec=10
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/ragpi/.Xauthority

[Install]
WantedBy=multi-user.target